apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
      - name: nodejs-app
        image: 976193264242.dkr.ecr.us-east-1.amazonaws.com/nodejs-eks-app:<commit-sha>
        ports:
        - containerPort: 3000
