name: Build and Deploy to EKS

on:
  push:
    branches:
      - main

env:
  ECR_REPOSITORY: nodejs-eks-app
  AWS_REGION: us-east-1
  CLUSTER_NAME: my-eks-cluster
  DEPLOYMENT_NAME: nodejs-app

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # Configure AWS
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    # Login to ECR
    - name: Login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    # Build Docker image
    - name: Build Image
      run: |
        docker build -t $ECR_REPOSITORY:${{ github.sha }} .

    # Tag Image
    - name: Tag Image
      run: |
        docker tag $ECR_REPOSITORY:${{ github.sha }} \
        ${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY:${{ github.sha }}

    # Push Image
    - name: Push Image
      run: |
        docker push \
        ${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY:${{ github.sha }}

    # Update kubeconfig
    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig \
        --name $CLUSTER_NAME \
        --region $AWS_REGION

    # Deploy to EKS
    - name: Deploy
      run: |
        kubectl set image deployment/$DEPLOYMENT_NAME \
        nodejs-app=${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY:${{ github.sha }}

        kubectl rollout status deployment/$DEPLOYMENT_NAME
