name: Build and Deploy to EKS

on:
  push:
    tags:
      - 'v*'

env:
  ECR_REPOSITORY: nodejs-eks-app
  AWS_REGION: us-east-1
  CLUSTER_NAME: node-cluster
  DEPLOYMENT_NAME: nodejs-app

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Extract version from tag
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build, Tag and Push Image
        run: |
          IMAGE_URI=${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY

          docker build -t $IMAGE_URI:$VERSION .
          docker tag $IMAGE_URI:$VERSION $IMAGE_URI:latest

          docker push $IMAGE_URI:$VERSION
          docker push $IMAGE_URI:latest

          echo "IMAGE_URI=$IMAGE_URI:$VERSION" >> $GITHUB_ENV

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --name $CLUSTER_NAME \
            --region $AWS_REGION

      - name: Deploy to EKS
        run: |
          kubectl set image deployment/$DEPLOYMENT_NAME \
          nodejs-app=$IMAGE_URI

          kubectl rollout status deployment/$DEPLOYMENT_NAME
