name: Build and Deploy to EKS

on:
  push:
    branches:
      - main

env:
  ECR_REPOSITORY: nodejs-eks-app
  AWS_REGION: us-east-1
  CLUSTER_NAME: node-cluster
  DEPLOYMENT_NAME: nodejs-app

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # Configure AWS
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    # Login to ECR
    - name: Login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, Tag, Push Image
  env:
    REGISTRY: ${{ steps.login-ecr.outputs.registry }}
    IMAGE_TAG: ${{ github.sha }}
  run: |
    IMAGE_URI=$REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
    
    docker build -t $IMAGE_URI .
    docker push $IMAGE_URI
    
    echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV

    # Update kubeconfig
    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig \
        --name $CLUSTER_NAME \
        --region $AWS_REGION

    - name: Deploy to EKS
  run: |
    kubectl set image deployment/$DEPLOYMENT_NAME \
    nodejs-app=$IMAGE_URI

    kubectl rollout status deployment/$DEPLOYMENT_NAME --timeout=120s

    kubectl get pods
